.education{
    position: relative;
    width: fit-content;
}

.education span{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: -30px;
}

.eds > a{
    color: #1785e5;
    cursor: pointer;
}